apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- deployment.yml
- service.yml
- autoscale.yml
namespace: default
images:
- name: prism-gha
  newName: gcr.io/prism-vi207iter/prism-gha
  newTag: a8e1c9b0a1ef2da937a18ded6260a92e3193838b