name: Deploy to GKE

on:
  push:
    branches: [ development ]          

env:
  PROJECT_ID: ${{ secrets.PROJECT_ID }}
  GKE_CLUSTER: prism
  GKE_ZONE: us-central1-c
  DEPLOYMENT_NAME: gke-prism
  IMAGE: prism-gha

jobs:
  setup-publish-image:
    name: Deploy to GKE
    runs-on: ubuntu-latest
    environment: production

    steps:
        - name: Checkout
          uses: actions/checkout@v2
        
        # Setup Google Cloud CLI
        - uses: google-github-actions/setup-gcloud@v0.2.0
          with:
            service_account_key: ${{ secrets.SA_KEY }}
            project_id: ${{ secrets.PROJECT_ID }}

        # Configure Docker to use the gcloud command-line tool as a credential
        # helper for authentication
        - run: |-
            gcloud --quiet auth configure-docker
        # Get GKE credentials
        - uses: google-github-actions/get-gke-credentials@v0.2.1
          with:
            cluster_name: ${{ env.GKE_CLUSTER }}
            location: ${{ env.GKE_ZONE }}
            credentials: ${{ secrets.SA_KEY }}      
        # Set up kustomize
        - name: Set up Kustomize
          run: |-  
            sudo apt update
            sudo apt install snapd
            sudo snap install kustomize    
            
        # Deploy the Docker image to the GKE cluster
        - name: Deploy
          run: |-
            kustomize build manifests | kubectl apply -f -
            kubectl rollout status deployment/$DEPLOYMENT_NAME
            kubectl get services -o wide


# cd manifests            
# curl -sfLo kustomize https://github.com/kubernetes-sigs/kustomize/releases/download/v3.1.0/kustomize_3.1.0_linux_amd64
# chmod u+x ./kustomize